extends layout 

block content 
  h1= title 

  form(method="POST" action="")
    div.form-group 
      label(for="name") Name: 
      input#name.form-control(type='text', placeholder='Item name' name='name' value=(undefined===item ? '' : item.name) )
    
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        - categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for category in categories
          if item
            option(value=category._id selected=(category._id.toString()===item.category._id.toString() ? 'selected' : false) ) #{category.name}
          else
            option(value=category._id) #{category.name} 

    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===item ? '' : item.description}

    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='Price', name='price', required='true', value=`${undefined===item ? '' : item.price}`)

    div.form-group
      label(for='stock') Stock:
      input#stock.form-control(type='number', placeholder='Stock', name='stock', required='true', value=`${undefined===item ? '' : item.stock}`)

    if item
      form(method='POST' action=`/inventory/item/${item._id}/update`)
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

        button.btn.btn-primary(type='submit') Submit updated item

      form(method='POST' action=`/inventory/item/${item._id}/delete`)
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

        button.btn.btn-primary(type='submit') Delete item
    
    else 
      form(method='POST' action='')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid')

        button.btn.btn-primary(type='submit') Submit new item
    
    if errors
      ul
        for error in errors
          li!= error.msg

      

      