extends layout 

block content 
  h1 #{item.name} 
  p #[strong Category:] #{cat} 
  p #[strong Price:] #{item.price}€
  p #[strong Stock count:] #{item.stock} 
  p #[strong Description:] #{item.description}
